* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#body {
  width: calc(100vw - (100vw - 100%));
}

:root {
  /* Colores */
  --color-1: #575756;
  --color-2: #b5976b;
  --color-3: #666666;
  --color-4: #ffb3e7;
  --color-5: #ffffff;
  --color-6: #3bb7b2;
  
  /* Fuentes */
  --fuente-1: "DM Serif Display", serif;
  --fuente-2: "Lora", serif;
  --fuente-3: "DM Sans", sans-serif;
  --fuente-4: "Fraunces", serif;
  --fuente-5: "Playfair Display", serif;
  --fuente-6: "Open Sans", sans-serif;
  --fuente-7: "Dancing Scfont-familyript", Sans-serif;

  /* Grosor de fuente */
  --weight-font-regular: 400;
  --weight-font-medium: 500;
  --weight-font-bolt900: 900;
}



/* Portada */
section.portada {
  max-width: 100%;
  background-image: url("../img/portada-4.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 100vw;
  height: 100vh;
  padding-top: 90px;
  position: relative;
  align-content: center;
  align-items: center;
}


section.portada .adorno {
  position: absolute;
  width: 360px;
  height: auto;
  top: -90px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}


section.portada .content-portada span.fecha {
  font-family: var(--fuente-5);
  font-weight: var(--weight-font-bolt900);
  color: var(--color-5);
  display: table;
  white-space: nowrap;
  width: 100%;
  font-size: 30px;
}




section.portada .content-portada h1 {
  color: var(--color-4);
  font-family: "Dancing Script", Sans-serif;
  font-weight: var(--weight-font-regular);
  width: 100%;
  text-align: center;
  font-size: 110px;
  line-height: 110px;
  margin-bottom: 0;
}

section.portada .content-portada h2 {
  font-family: var(--fuente-5);
  font-weight: var(--weight-font-bolt900);
  color: var(--color-5);
  width: 100%;
  text-align: center;
  font-size: 30px;
  line-height: 95px;
}

section.portada .box-nombres-fecha-portada .line {
  background-color: var(--color-2);
  height: 10px;
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
}

section.portada .box-nombres-fecha-portada h1 span {
  font-family: var(--fuente-7);
  font-weight: var(--weight-font-regular);
  background-color: var(--color-2);
  color: var(--color-4);
  display: inline-block;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 40px;
}

/* mariposa de portada */
section.portada .box-nombres-fecha-portada img {
  width: 150px;
  margin: 70px 0;
}

section.portada .box-frase-portada {
  margin-top: 35px;
}

section.portada .box-frase-portada p {
  color: black;
  font-family: var(--fuente-2);
  font-weight: var(--weight-font-regular);
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  margin-bottom: 0;
}

section.portada .box-frase-portada p img {
  width: 30px;
  margin: 10px 0;
}

section.portada .flecha-continuar {
  width: 50px;
  position: absolute;
  bottom: -80px;
}

/* -------  Reloj Contador  -------- */
section.clock_cont {
  background-color: #e7f5f2;
  background-position: center center;
  background-size: cover;
  position: relative;
  padding: 25px 10px;
}
section.clock_cont .countdown {
  margin: 0 0 20px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4c4c4c;
  font-family: "Dancing Script", Sans-serif;
  font-size: 25px;
  font-weight: 200;
  text-transform: none;
}
section.clock_cont .countdown .time {
  padding: 0 10px;
}

.time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ---------- cena y fiesta -------------- */
section.cena {
  /* background: linear-gradient(to bottom, rgba(163, 27, 27, 0.5),rgba(78, 4, 4, 0.5)),url("../img/corazones_fondo.jpg"); */
  background-image: url("../img/fondo.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 100%;
  padding-top: 5px;
  position: relative;
  align-content: center;
  align-items: center;
}

/* ---------- dress -------------- */

section.dress {
  /* background: linear-gradient(to bottom, rgba(78, 4, 4, 0.5),rgba(163, 27, 27, 0.5)),url("../img/corazones_fondo.jpg"); */
  background-image: url("../img/fondo.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 100%;
  padding-top: 10px;
  position: relative;
  align-content: center;
  align-items: center;
}

/* ---------- confirmar -------------- */

section.confirmar {
  background-image: url("../img/fondo.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 100%;
  padding-top: 10px;
  position: relative;
  align-content: center;
  align-items: center;
}

/* ---------- album -------------- */

section.album {
  background-image: url("../img/fondo.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 100%;
  padding-top: 10px;
  position: relative;
  align-content: center;
  align-items: center;
}

/* ---------- canciones que no pueden faltar -------------- */

section.canciones {
  background-image: url("../img/fondo.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 100%;
  padding-top: 10px;
  position: relative;
  align-content: center;
  align-items: center;
}

/* ---------- regalos -------------- */

section.regalos {
  background-image: url("../img/fondo.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 55vh;
  padding-top: 1px;
  position: relative;
  align-content: center;
  align-items: center;
}

/* ---------- instagram -------------- */

section.instagram {
  background-image: url("../img/instagram.jpg");
  background: linear-gradient(to bottom, rgb(0 0 0 / 0.25), rgb(0 0 0 / 0.1)),
    url("../img/instagram.jpg");
  /* opacity: .55; */
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  position: relative;
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding-top: 10px;
  position: relative;
  align-content: center;
  align-items: center;
}

/* ---------- los espero -------------- */

section.los_espero {
  background-image: url("../img/fondo.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 30%;
  padding: 20px 0 15px 0;
  position: relative;
  align-content: center;
  align-items: center;
}


/* ---------- footer -------------- */

section.footer {
  text-align: center;
  width: 100%;
  height: 30%;
  position: relative;
  align-content: center;
  align-items: center;
}

.prop_ico {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text_description {
  font-family: "Poppins", Sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding: 0 15px;
  text-align: center;
}

.t_title {
  margin-bottom: 15px;
  color: #4c4c4c;
  font-family: "Dancing Script", Sans-serif;
  font-size: 42px;
  font-weight: 600;
  text-transform: none;
}

.t_color {
  color: #ffb3e7;
}

.confirmar_asistencia {
  color: #8c788d;
  font-family: "Poppins", Sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.elementor-button-wrapper {
  border-style: solid;
  text-decoration: none;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-width: 0;
}
.elementor-button-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.elementor-button-text {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-ordinal-group: 11;
  -ms-flex-order: 10;
  order: 10;
  display: inline-block;
}

.hashtag_mode {
  color: #1a1aff;
  font-family: "Poppins", Sans-serif;
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
}

.modo-hashtag {
  color: #353941;
  font-family: "Dancing Scfont-familyript", Sans-serif;
  font-size: 18px;
  font-weight: 100;
  text-transform: capitalize;
  /* text-shadow: 0px 0px 12px #444; */
}

/* footer */
.elementor-widget-container {
  margin: 0;
  padding: 20px 0 20px;
  background-color: var(--color-4);
}

.header-first-span {
  color: #565d6a;
  font-size: 15px;
  text-transform: none;
}
.header-second-header {
  font-size: 15px;
  color: rgb(5, 51, 98);
}

/* boton */
.button {
  padding: 15px 30px;
}

.btn {
  width: 180px;
  border-radius: 50px;
  display: inline-block;
  padding-top: 20px;
  text-decoration: none;

  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.btn_music {
  width: 250px;
  border-radius: 50px;
  display: inline-block;
  padding-top: 20px;
  text-decoration: none;

  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.btn_green {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 5px;
  fill: #ffb3e7;
  border-style: solid;
  border-width: 3px;
  background-color: var(--color-6);
  padding: 15px;
}

/* Boton musica */
.btn-ms{
  color: rgb(92, 9, 9);
  fill-opacity: 1;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  position:fixed;
  bottom: -45px;
  right:-45px;
  /* border-radius:50px; */
  z-index:100;
  /* transition: all 300ms ease; */
}

