/* Mobile */
@media (max-height: 756px) {
      section.regalos {
        height: 65vh;
      }
}


@media (max-height: 770px) {
  section.regalos {
    height: 65vh;
  }
  
}
@media (max-height: 690px) {
  section.regalos {
    height: 65vh;
  }
}

@media (max-width: 425px) {

}
